
@{
    ViewBag.Title = "ConsolidationItem";
}
@model AnousithExpress.DataEntry.ViewModels.Customer.ConsolidationModel
<h2>ສັງລວມສີນຄ້າ</h2>


<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                <table width="80%">
                    <tr>
                        <td width="20%">ນຳເບີສັງລວມ</td>
                        <td width="80%">@Model.Detail.ConsolidateNumber</td>
                    </tr>
                    <tr>
                        <td width="20%">ຊື່ລຸກຄ້າ</td>
                        <td width="80%">@Model.Detail.CustomerName</td>
                    </tr>
                    <tr>
                        <td width="20%">ເບີໂທ</td>
                        <td width="80%">@Model.Detail.CustomerPhonenumber</td>
                    </tr>
                    <tr>
                        <td width="20%">ຈຳນວນສີນຄ້າທີ່ສັງລວມ</td>
                        <td width="80%">@Model.Detail.AmountOfItem ຊີ້ນ</td>
                    </tr>
                    <tr>
                        <td width="20%">ຄ່າບໍລິການ</td>
                        <td width="80%">@Model.Detail.Fee ກີບ</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <strong>ລາຍການສີນຄ້າທີ່ສັງລວມ</strong>
                <button type="button" onclick='window.location = "@Url.Action("Index","Customer")"'>ກັບໄປຫນ້າຫລັກ</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ນຳເບີຕິດຕາມ</th>
                            <th>ປະເພດສີນຄ້າ</th>
                            <th>ສະຖານະ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.ItemsTrackingNumber</td>
                                <td>@item.ItemName</td>
                                <td>@item.ItemStatus</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>