
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewBag.Title = "ItemsCreateUpdate";
}
@model AnousithExpress.DataEntry.ViewModels.Customer.ItemsModel
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
               
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index","Customer")">ຫນ້າຫລັກ</a></li>
                    <li class="active">@TempData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="animated fadeIn">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <strong>@TempData["Title"]</strong>
                </div>
                <div class="card-body card-block">
                    <form id="itemForm" class="form-horizontal">
                        @Html.HiddenFor(m => m.Id)
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="hf-email" class=" form-control-label font-weight-bold">ປະເພດສີນຄ້າ</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control", @placeholder = "ປະເພດສີນຄ້າ" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="hf-email" class=" form-control-label font-weight-bold">ຊື່ຜູ້ຮັບ</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.TextBoxFor(m => m.ReceiverName, new { @class = "form-control", @placeholder = "ຊື່ຜູ້ຮັບ" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="hf-email" class=" form-control-label font-weight-bold">ເບີໂທຜູ້ຮັບ</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.TextBoxFor(m => m.ReceipverPhone, new { @class = "form-control", @placeholder = "ເບີໂທຜູ້ຮັບ",@type="number", @id="phonenumber" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="hf-email" class=" form-control-label font-weight-bold">ທີ່ຢູ່ຜູ້ຮັບ</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.TextBoxFor(m => m.ReceiverAddress, new { @class = "form-control", @placeholder = "ທີ່ຢູ່ຜູ້ຮັບ" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="hf-email" class=" form-control-label font-weight-bold">ເກັບເງີນປາຍທາງ</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <label for="checkbox1" class="form-check-label ml-3">
                                    <input type="checkbox" id="collectMoneyBox" name="collectMoneyBox" onchange="CollectMoneyCheck(this)" class="form-check-input">ເກັບ
                                </label>
                            </div>
                        </div>
                        <div id="CollectingMoney" class="collapse">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="hf-email" class=" form-control-label font-weight-bold">ເກັບເງີນປາຍທາງ ສະກຸນເງີນກີບ</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(m => m.ItemValue_Kip, new { @class = "form-control", @placeholder = "ເກັບເງີນປາຍທາງ ສະກຸນເງີນກີບ", @type = "number", @id ="kip" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="hf-email" class=" form-control-label font-weight-bold">ເກັບເງີນປາຍທາງ ສະກຸນເງີນບາດ</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(m => m.ItemValue_Baht, new { @class = "form-control", @placeholder = "ເກັບເງີນປາຍທາງ ສະກຸນເງີນບາດ", @type = "number", @id="baht" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="hf-email" class=" form-control-label font-weight-bold">ເກັບເງີນປາຍທາງ ສະກຸນເງີນໂດລ້າ</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(m => m.ItemValue_Dollar, new { @class = "form-control", @placeholder = "ເກັບເງີນປາຍທາງ ສະກຸນເງີນໂດລ້າ", @type = "number" ,@id="dollar"})
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" onclick="Save()" class="btn btn-danger ">
                        <i class="fa fa-dot-circle-o"></i> ບັນທຶກ
                    </button>
                    <button type="reset" onclick="Reset()" class="btn btn-danger ">
                        <i class="fa fa-ban"></i> ຕັ້ງໃຫມ່
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="content" class="text-center">
                    <strong id="popupmessage"></strong>
                </div>
                <div>
                    <button class="btn btn-primary btn-flat m-b-15 w-100" data-dismiss="modal">ອອກ</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            jQuery("#kip").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if (jQuery.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            jQuery("#baht").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if (jQuery.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            jQuery("#dollar").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if (jQuery.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            jQuery("#phonenumber").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if (jQuery.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
        function Reset() {
            jQuery("#itemForm").trigger("reset");
        }
        function CollectMoneyCheck(source) {
            if (source.checked) {
                jQuery("#CollectingMoney").removeClass("collapse");
            }
            else {
                jQuery("#CollectingMoney").addClass("collapse");
            }
        }
        function Save() {
            let formInfo = jQuery("#itemForm").serialize();
                jQuery.ajax({
                url: "/Customer/ItemsCreateUpdateSave",
                data: formInfo,
                datatype: "json",
                type: "POST",
                success: function (r) {
                    if (!isNaN(r)) {
                        if (r===0) {
                            jQuery("#popupmessage").html("ຂໍ້ມູນບໍ່ຖືກຕ້ອງ ກະລຸນາກວດໃຫມ່<br/>");
                            jQuery('#modal1').modal("show");
                        }
                        else {
                              window.location = "@Url.Action("ItemDetail", "Customer")?id="+r;
                        }
                      
                    }
                    else {
                        jQuery("#popupmessage").html("ຂໍ້ມູນບໍ່ຖືກຕ້ອງ ກະລຸນາກວດໃຫມ່<br/>"+r);
                        jQuery('#modal1').modal("show");
                    }
                   
                  
                }
            });        
        }
    </script>

}


