
@{
    ViewBag.Title = "ItemsCreateUpdate";
}
@model AnousithExpress.DataEntry.ViewModels.Customer.ItemsModel
<h2>CreateItem</h2>
@if (ViewBag.Message !=null)
{
    <div class="alert alert-success text-center">
        <strong>@ViewBag.Message</strong>
    </div>
}
<div>
    @using (Html.BeginForm("ItemsCreateUpdate", "Customer", FormMethod.Post, new { @id = "ItemCreateForm" }))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.Label("ປະເພດສີນຄ້າ")
            @Html.TextBoxFor(m => m.ItemName, new { @class="form-control"})
            @Html.ValidationMessageFor(m => m.ItemName,"",new { @class=" red-font"})
        </div>
        <div class="form-group">
            @Html.Label("ຊື່ຜູ້ຮັບ")
            @Html.TextBoxFor(m => m.ReceiverName,new { @class="form-control"})
            @Html.ValidationMessageFor(m => m.ReceiverName, "", new { @class = " red-font" })
        </div>
        <div class="form-group">
            @Html.Label("ເບີໂທຜູ້ຮັບ")
            @Html.TextBoxFor(m => m.ReceipverPhone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReceipverPhone, "", new { @class = " red-font" })
        </div>
        <div class="form-group">
            @Html.Label("ທີ່ຢູ່ຜູ້ຮັບ")
            @Html.TextBoxFor(m => m.ReceiverAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReceiverAddress, "", new { @class = " red-font" })
        </div>
        <div class="form-group">
            @Html.Label("ເກັບເງີນປາຍທາງ ສະກຸນເງີນກີບ")
            @Html.TextBoxFor(m => m.ItemValue_Kip, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("ເກັບເງີນປາຍທາງ ສະກຸນເງີນບາດ")
            @Html.TextBoxFor(m => m.ItemValue_Baht, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("ເກັບເງີນປາຍທາງ ສະກຸນເງີນໂດລ້າ")
            @Html.TextBoxFor(m => m.ItemValue_Dollar, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">ບັນທຶກລາຍການ</button>
        <a class="btn btn-info" href="@Url.Action("Items","Customer")">ກັບໄປຫາລາຍການສີນຄ້າ</a>
        <a class="btn btn-success" href="@Url.Action("Index","Customer")">ກັບໄປຫນ້າຫລັກ</a>
    }
</div>


