<div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Index", "Admin")" style="font-family:'Phetsarath OT';"> <i class="menu-icon fa fa-dashboard"></i>ຫນ້າຫລັກ </a>
        </li>
        <li class="menu-title"></li><!-- /.menu-title -->
        <li>
            @{
                if (Session["Role"].ToString() == "1")
                {
                    <a href="@Url.Action("Account", "Admin")" style="font-family:'Phetsarath OT';"> <i class="menu-icon ti-user"></i>ບັນຊີຜູ້ໃຊ້</a>
                }
                else
                {
                    <a href="#" data-toggle="modal" data-target="#modalLayout" style="font-family:'Phetsarath OT';"> <i class="menu-icon ti-user"></i>ບັນຊີຜູ້ໃຊ້</a>
                }

            }

        </li>
        <li>
            <a href="@Url.Action("Customer","Admin")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-table"></i>ລຸກຄ້າ</a>
        </li>
        <li>
            <a href="@Url.Action("AllocateDeliveryMan","Admin")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-table"></i>ສີນຄ້າທີ່ຈະສົ່ງ</a>
        </li>
        <li>
            <a href="@Url.Action("ScanBarCode","Admin")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-barcode"></i>ສະແກນສີນຄ້າ</a>
        </li>
        <li>
            <a href="@Url.Action("ItemHistoryListOfCustomer","Admin")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-book"></i>ຈຳນວນເຄື່ອງສົ່ງ</a>
        </li>

        <li>
            <a href="@Url.Action("ItemHistory","Admin")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-book"></i>ປະຫວັດການສົ່ງເຄື່ອງ</a>
        </li>
        <li>
            <a href="@Url.Action("ConsolidateAllConsolidate","Admin")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-book"></i>ສັງລວມທັງຫມົດ</a>
        </li>
        <li><a href="@Url.Action("ULogout","Account")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-sign-out"></i>ອອກຈາກລະບົບ</a></li>
    </ul>
</div>
<div class="modal fade" role="dialog" id="modalLayout">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body text-center">
                <strong>ກະລຸນາລ໋ອກອີນໃນຖານະແອດມີນ</strong>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary w-100 mr-4 ml-4" data-dismiss="modal" data-target="#modalLayout">ຕົກລົງ</button>
            </div>
        </div>
    </div>
</div>
