<div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Index","Customer")" style="font-family:'Phetsarath OT';"> <i class="menu-icon fa fa-dashboard"></i>ຫນ້າຫລັກ </a>
        </li>
        <li class="menu-title"></li><!-- /.menu-title -->
        <li>
            <a href="@Url.Action("ItemsCreateUpdate","Customer")" style="font-family:'Phetsarath OT';"> <i class="menu-icon ti-email"></i>ເພີ່ມສີນຄ້າ</a>
        </li>
        <li>
            <a href="@Url.Action("ItemsInStore","Customer")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-table"></i>ສີນຄ້າທີ່ຍັງບໍ່ທັນສົ່ງ</a>
        </li>
        <li>
            <a href="@Url.Action("ItemsInProcess","Customer")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-table"></i>ສີນຄ້າທີ່ກຳລັງດຳເນີນການ</a>
        </li>
        <li>
            <a href="@Url.Action("ItemsProcessed","Customer")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-book"></i>ປະຫວັດການສົ່ງ</a>
        </li>
        <li>
            <a href="@Url.Action("Consolidation","Customer")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-book"></i>ສັງລວມ</a>
        </li>
        <li>
            <a href="@Url.Action("ProfileDetail","Customer")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-address-card"></i>ຂໍ້ມູນສ່ວນຕົວ</a>
        </li>
        <li><a href="@Url.Action("CLogout","Account")" style="font-family:'Phetsarath OT';"><i class="menu-icon fa fa-sign-out"></i>ອອກຈາກລະບົບ</a></li>
    </ul>
</div>
