
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<AnousithExpress.Data.SingleViewModels.CustomerItemModel>
<h2>Customer</h2>

@foreach (var customer in Model)
{
    <div class="card col-md-3">
        <div class="card-body">
            <div>
                <input type="button" class="btn btn-dark btn-lg" onclick="window.location = '@Url.Action("CustomerDetail","Admin", new { customerId= customer.CustomerId})'" value="@customer.CustomerId" />
                <span>@customer.CountItems</span>
                <span>@customer.CountItemsToPickup</span>
                <span>@customer.CountItemsPickedUp</span>
                <span>@customer.CountItemsInProcess</span>
                <span>@customer.CountItemsToSend</span>
                <span>@customer.CountItemsAlreadySend</span>
                <span>@customer.CountItemsCannotContact</span>
            </div>
        </div>
    </div>
}


