
<li><a href="/admin/dashboard"><em class="fa fa-dashboard">&nbsp;</em> ໜ້າຫລັກ</a></li>
<li class="parent ">
    <a data-toggle="collapse" href="#sub-item-1">
        <em class="fa fa-navicon">&nbsp;</em> ລູກຄ້າ <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
    </a>
    <ul class="children collapse" id="sub-item-1">
        <li>
            <a class="" href="@Url.Action("CreateUpdateItem","Customer")">
                <span class="fa fa-arrow-right">&nbsp;</span> ເພີ້ມລາຍການສີນຄ້າ
            </a>
        </li>
        <li>
            <a class="" href="@Url.Action("ViewItems","Customer")">
                <span class="fa fa-arrow-right">&nbsp;</span> ລາຍການສີນຄ້າ
            </a>
        </li>
        <li>
            <a class="" href="#">
                <span class="fa fa-arrow-right">&nbsp;</span> ສັງລວມ
            </a>
        </li>
        <li>
            <a class="" href="@Url.Action("CProfile","Customer")">
                <span class="fa fa-arrow-right">&nbsp;</span> ຂໍ້ມູນສ່ວນຕົວ
            </a>
        </li>
        <li>
            <a class="" href="@Url.Action("CRegister","Account")">
                <span class="fa fa-arrow-right">&nbsp;</span> ສະໜັກສະມາຊິກ
            </a>
        </li>
    </ul>
</li>

<li class="parent ">
    <a data-toggle="collapse" href="#sub-item-2">
        <em class="fa fa-navicon">&nbsp;</em> ພະນັກງານສົ່ງເຄື່ອງ <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
    </a>
    <ul class="children collapse" id="sub-item-2">
        <li>
            <a class="" href="@Url.Action("ViewItemToGet","Delivery")">
                <span class="fa fa-arrow-right">&nbsp;</span> ສີນຄ້າທີຕ້ອງໄປຮັບ
            </a>
        </li>
        <li>
            <a class="" href="@Url.Action("ViewItemToSend","Delivery")">
                <span class="fa fa-arrow-right">&nbsp;</span> ສີນຄ້າທີ່ຕ້ອງໄປສົ່ງ
            </a>
        </li>
        <li>
            <a class="" href="@Url.Action("CreateItem","Delivery")">
                <span class="fa fa-arrow-right">&nbsp;</span> ເພີ້ມສີນຄ້າ
            </a>
        </li>
    </ul>
</li>

<li class="parent ">
    <a data-toggle="collapse" href="#sub-item-3">
        <em class="fa fa-navicon">&nbsp;</em> ຫລັງຮ້ານ <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
    </a>
    <ul class="children collapse" id="sub-item-3">
        <li>
            <a class="" href="@Url.Action("Customer","Admin")">
                <span class="fa fa-arrow-right">&nbsp;</span> ລາຍຊື່ລູກຄ້າ
            </a>
        </li>
        <li>
            <a class="" href="@Url.Action("ItemList","Admin")">
                <span class="fa fa-arrow-right">&nbsp;</span> ລາຍການສີນຄ້າ
            </a>
        </li>
        @*<li>
            <a class="" href="#">
                <span class="fa fa-arrow-right">&nbsp;</span> ຈັດສີນຄ້າສົ່ງ
            </a>
        </li>*@
        <li>
            <a class="" href="#">
                <span class="fa fa-arrow-right">&nbsp;</span> ສັງລວມ
            </a>
        </li>
        <li>
            <a class="" href="@Url.Action("Accounts","AdminAccount")">
                <span class="fa fa-arrow-right">&nbsp;</span> ເພີ້ມຜູ້ໃຊ້ງານ
            </a>
        </li>
    </ul>
</li>
@*<li><a href="/admin/categories"><em class="fa fa-list-ol">&nbsp;</em> ຈັດການປະເພດສິນຄ້າ</a></li>
<li><a href="/admin/colors"><em class="fa fa-clone">&nbsp;</em> ຈັດການສີ</a></li>
<li><a href="/admin/sizes"><em class="fa fa-object-group">&nbsp;</em> ຈັດການຂະໜາດ</a></li>
<li><a href="/admin/brands"><em class="fa fa-id-card">&nbsp;</em> ຈັດການຍີຫໍ້</a></li>
<li><a href="/admin/products"><em class="fa fa-cube">&nbsp;</em> ຈັດການສິນຄ້າ</a></li>
<li><a href="/admin/payments"><em class="fa fa-credit-card">&nbsp;</em> ຈັດການປະເພດຊຳລະ</a></li>
<li><a href="/admin/imports"><em class="fa fa-download">&nbsp;</em> ນຳເຂົ້າສິນຄ້າ</a></li>*@



