@model List<AnousithExpress.Data.SingleViewModels.ItemSingleModel>


@using (Html.BeginForm("RecievedItem", "Delivery", FormMethod.Post))
{
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" name="checkbox" value="" /></th>
                <th>ເລກຕິດຕາມ</th>
                <th>ປະເພດເຄື່ອງ</th>
                <th>ສະຖານະ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.CheckBox("itemsId",false) <input type="checkbox" name="itemId" value="@item.Id" /></td>
                    <td>@item.TrackingNumber</td>
                    <td>@item.ItemName</td>
                    <td>@item.Status</td>
                </tr>
            }

        </tbody>
    </table>
    <input type="submit" name="name" value="ຢືນຢັນການຮັບສີນຄ້າ" />
}
