
@{
    ViewBag.Title = "Allocation";
}
@model List<AnousithExpress.DataEntry.ViewModels.Delivery.ItemsAllocationModel>

<h2>ສີນຄ້າຕ້ອງໄປສົ່ງ</h2>

<div class="panel">
    <div class="panel-body">
        @using (Html.BeginForm("Allocation", "Admin", FormMethod.Get))
        {
            <label>ລະຫັດລຸກຄ້າ</label>
            @Html.TextBox("customerId")
            <label>ສາຍສົ່ງ</label>
            @Html.DropDownList("routeId", ViewBag.Routes as SelectList)
            <label>ເວລາສົ່ງ</label>
            @Html.DropDownList("timeId", ViewBag.Times as SelectList)
            <label>ວັນທີສົ່ງ</label>
            <input type="date" name="dateToDeliverFrom" />
            <label>ຫາ</label>
            <input type="date" name="dateToDeliverTo" />
            <input type="submit" name="submit" value="ຄົ້ນຫາ" />
        }
        <div>@TempData["Message"]</div>
        @using (Html.BeginForm("RecievedItem", "Delivery", FormMethod.Post))
        {
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>ເລກຕິດຕາມ</th>
                        <th>ຜຸ້ຮັບ</th>
                        <th>ເບີໂທຕິດຕໍ່</th>
                        <th>ມື້ສົ່ງ</th>
                        <th>ລາຍລະອຽດ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr class="clickable-row">
                        <td>@item.ItemTrackingNumber</td>
                        <td>@item.ReceiverName</td>
                        <td>@item.ReceiverPhonenumber</td>
                        <td>@item.DateToDeliver</td>
                        <td>@item.Description</td>

                    </tr>
                    }

                </tbody>
            </table>
        }

    </div>
</div>