
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewBag.Title = "ຫນ້າຫລັກ";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">

            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">ຫນ້າຫລັກ</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content mt-3">
        <div class="animated">
            @{
                if (Session["Role"].ToString() == "1")
                {
                    <a href="@Url.Action("Account","Admin")">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card text-white bg-flat-color-1">
                                <div class="card-body pb-0">
                                    <div class="dropdown float-right">
                                        <i class="fa fa-cog"></i>
                                    </div>
                                    <h4 class="mb-0">
                                        <span class="count"> </span>
                                    </h4>
                                    <p class="text-light">ບັນຊີຜູ້ໃຊ້</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a href="#" data-toggle="modal" data-target="#modalLayout">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card text-white bg-flat-color-1">
                                <div class="card-body pb-0">
                                    <div class="dropdown float-right">
                                        <i class="fa fa-cog"></i>
                                    </div>
                                    <h4 class="mb-0">
                                        <span class="count"> </span>
                                    </h4>
                                    <p class="text-light">ບັນຊີຜູ້ໃຊ້</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }

            <a href="@Url.Action("Customer","Admin")">
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-2">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h4 class="mb-0">
                                <span class="count"> </span>
                            </h4>
                            <p class="text-light">ລຸກຄ້າ</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("AllocateDeliveryMan","Admin")">
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-3">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h4 class="mb-0">
                                <span class="count"> </span>
                            </h4>
                            <p class="text-light">ສີນຄ້າທີ່ຈະສົ່ງ</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("ScanBarCode","Admin")">
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-5">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h4 class="mb-0">
                                <span class="count"> </span>
                            </h4>
                            <p class="text-light">ສະແກນສີນຄ້າ</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="@Url.Action("ItemHistoryListOfCustomer","Admin")">
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-5">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h4 class="mb-0">
                                <span class="count"> </span>
                            </h4>
                            <p class="text-light">ຈຳນວນເຄື່ອງສົ່ງ</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("ItemHistory","Admin")">
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-5">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h4 class="mb-0">
                                <span class="count"> </span>
                            </h4>
                            <p class="text-light">ປະຫວັດການສົ່ງເຄື່ອງ</p>
                        </div>
                    </div>
                </div>
            </a>


            <a href="@Url.Action("ULogout","Account")">
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-4">
                        <div class="card-body pb-0">
                            <div class="dropdown float-right">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h4 class="mb-0">
                                <span class="count"> </span>
                            </h4>
                            <p class="text-light">ອອກຈາກລະບົບ</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!-- .animated -->
    </div>
</div>

@section scripts{
<script>
    var itemNum = 0;
    jQuery(document).ready(function () {
        notificationNum();
        setInterval(notificationNum, 10000);
    });
    function notificationNum() {
        jQuery.ajax({
            url: "/Admin/GetNotification",
            type: "GET",
            datatype: "json",
            success: function (r) {
                if (r > itemNum) {

                    jQuery("#numberofItem").html(r - itemNum);
                    jQuery("#modalNotification").modal("show");
                }
                jQuery("#notificationNumber").html(r);
                itemNum = r;
            }
        });
    }
</script>
}
